pre-commit
trimesh
torch>=2
torchvision
einops
huggingface_hub
imageio
numpy<2
opencv-python
xformers
open3d
fastapi
uvicorn
requests
typer
pillow
omegaconf
evo
moviepy==1.0.3
plyfile
pillow_heif
safetensors
pycolmap
tqdm
matplotlib
opencv-python
scipy
torchvision
einops
imageio
imageio-ffmpeg
wandb